.card {
  background-color: #f0f0f0;
}
.card .card-title {
  color: #3772cc;
}
.card .card-text {
  font-size: 14px;
  border: none;
  padding: 0.5rem;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
}
@media screen and (min-width: 680px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    align-self: center;
  }
}
