.navbar {
  background-color: #f9f9f9;
  border-color: #b2d1d6;
}
.navbar-nav > .active > a {
  background-color: #04a3ed;
  color: #428bca;
  font-weight: bold;
}

.navbar-nav > li > a {
  font-size: 13px;
  color: #428bca;
  padding: 10px 25px;
  font-weight: bold;
  list-style: none;
}

.navbar-header > a {
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #428bca;
  font-size: 25px;
  padding: 5px 30px;
}

.navbar-header > a:hover {
  text-decoration: none;
  color: #ed0494;
}

.navbar-form {
  margin-top: 0px;
  margin-bottom: 5px;
}
